@charset "UTF-8";

@keyframes plyr-progress { 
	100% {
		background-position: var(--plyr-progress-loading-size,25px) 0;
	}
}

@keyframes plyr-popup { 
	0% {
		opacity: 0.5;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes plyr-fade-in { 
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.plyr {
	align-items: center;
	direction: ltr;
	display: flex;
	flex-direction: column;
	font-family: var(--plyr-font-family,inherit);
	font-weight: var(--plyr-font-weight-regular,400);
	line-height: var(--plyr-line-height,1.7);
	max-width: 100%;
	min-width: 200px;
	position: relative;
	text-shadow: none;
	transition: box-shadow 0.3s ease;
	z-index: 0;
}

.plyr audio, .plyr iframe, .plyr video {
	display: block;
	height: 100%;
	width: 100%;
}

.plyr button {
	line-height: inherit;
	width: auto;
}

.plyr:focus {
	outline: 0;
}

.plyr--full-ui {
	box-sizing: border-box;
}

.plyr--full-ui *, .plyr--full-ui :after, .plyr--full-ui :before {
	box-sizing: inherit;
}

.plyr--full-ui a, .plyr--full-ui button, .plyr--full-ui input, .plyr--full-ui label {
}

.plyr__badge {
	background: var(--plyr-badge-background,#4a5464);
	border-radius: var(--plyr-badge-border-radius,2px);
	color: var(--plyr-badge-text-color,#fff);
	font-size: var(--plyr-font-size-badge,9px);
	line-height: 1;
	padding: 3px 4px;
}

 {
	display: none;
}

.plyr__captions {
	animation: 0.3s ease plyr-fade-in;
	bottom: 0;
	display: none;
	font-size: var(--plyr-font-size-small,13px);
	left: 0;
	padding: var(--plyr-control-spacing,10px);
	position: absolute;
	text-align: center;
	transition: transform 0.4s ease-in-out;
	width: 100%;
}

.plyr__captions span:empty {
	display: none;
}

@media (min-width: 480px) { 
	.plyr__captions {
		font-size: var(--plyr-font-size-base,15px);
		padding: calc(var(--plyr-control-spacing, 10px)*2);
	}
}

@media (min-width: 768px) { 
	.plyr__captions {
		font-size: var(--plyr-font-size-large,18px);
	}
}

.plyr--captions-active .plyr__captions {
	display: block;
}

.plyr:not(.plyr--hide-controls) .plyr__controls:not(:empty)~.plyr__captions {
	transform: translateY(calc(var(--plyr-control-spacing, 10px)*-4));
}

.plyr__caption {
	background: var(--plyr-captions-background,rgba(0,0,0,.8));
	border-radius: 2px;
	box-decoration-break: clone;
	color: var(--plyr-captions-text-color,#fff);
	line-height: 185%;
	padding: 0.2em 0.5em;
	white-space: pre-wrap;
}

.plyr__caption div {
	display: inline;
}

.plyr__control {
	background: rgba(0, 0, 0, 0);
	border: 0;
	border-radius: var(--plyr-control-radius,3px);
	color: inherit;
	cursor: pointer;
	flex-shrink: 0;
	overflow: visible;
	padding: calc(var(--plyr-control-spacing, 10px)*.7);
	position: relative;
	transition: all 0.3s ease;
}

.plyr__control svg {
	fill: currentColor;
	display: block;
	height: var(--plyr-control-icon-size,18px);
	pointer-events: none;
	width: var(--plyr-control-icon-size,18px);
}

.plyr__control:focus {
	outline: 0;
}

.plyr__control.plyr__tab-focus {
	outline: var(--plyr-tab-focus-color,var(--plyr-color-main,var(--plyr-color-main,#00b3ff))) dotted 3px;
}

a.plyr__control {
	text-decoration: none;
}

.plyr__control.plyr__control--pressed .icon--not-pressed, .plyr__control.plyr__control--pressed .label--not-pressed, .plyr__control:not(.plyr__control--pressed) .icon--pressed, .plyr__control:not(.plyr__control--pressed) .label--pressed, a.plyr__control:after, a.plyr__control:before {
	display: none;
}

 {
	display: none;
}

.plyr__controls {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	text-align: center;
}

.plyr__controls .plyr__progress__container {
	flex: 1;
	min-width: 0;
}

.plyr__controls .plyr__controls__item {
	margin-left: calc(var(--plyr-control-spacing, 10px)/4);
}

.plyr__controls .plyr__controls__item:first-child {
	margin-left: 0;
	margin-right: auto;
}

.plyr__controls .plyr__controls__item.plyr__progress__container {
	padding-left: calc(var(--plyr-control-spacing, 10px)/4);
}

.plyr__controls .plyr__controls__item.plyr__time {
	padding: 0 calc(var(--plyr-control-spacing, 10px)/2);
}

.plyr__controls .plyr__controls__item.plyr__progress__container:first-child, .plyr__controls .plyr__controls__item.plyr__time+.plyr__time, .plyr__controls .plyr__controls__item.plyr__time:first-child {
	padding-left: 0;
}

.plyr [data-plyr="airplay"], .plyr [data-plyr="captions"], .plyr [data-plyr="fullscreen"], .plyr [data-plyr="pip"], .plyr__controls:empty {
	display: none;
}

.plyr--airplay-supported [data-plyr="airplay"], .plyr--captions-enabled [data-plyr="captions"], .plyr--fullscreen-enabled [data-plyr="fullscreen"], .plyr--pip-supported [data-plyr="pip"] {
	display: inline-block;
}

.plyr__menu {
	display: flex;
	position: relative;
}

.plyr__menu .plyr__control svg {
	transition: transform 0.3s ease;
}

.plyr__menu .plyr__control[aria-expanded="true"] svg {
	transform: rotate(90deg);
}

.plyr__menu .plyr__control[aria-expanded="true"] .plyr__tooltip {
	display: none;
}

.plyr__menu__container {
	animation: 0.2s ease plyr-popup;
	background: var(--plyr-menu-background,hsla(0,0%,100%,.9));
	border-radius: 4px;
	bottom: 100%;
	box-shadow: var(--plyr-menu-shadow,0 1px 2px rgba(0,0,0,.15));
	color: var(--plyr-menu-color,#4a5464);
	font-size: var(--plyr-font-size-base,15px);
	margin-bottom: 10px;
	position: absolute;
	right: -3px;
	text-align: left;
	white-space: nowrap;
	z-index: 3;
}

.plyr__menu__container>div {
	overflow: hidden;
	transition: height 0.35s cubic-bezier(0.4, 0, 0.2, 1), width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.plyr__menu__container:after {
	border-top: var(--plyr-menu-background,hsla(0,0%,100%,.9));
	border-right: ;
	border-bottom: ;
	border-left: ;
	content: "";
	height: 0;
	position: absolute;
	right: calc(var(--plyr-control-icon-size, 18px)/2 + var(--plyr-control-spacing, 10px)*.7 - var(--plyr-menu-arrow-size, 4px)/2);
	top: 100%;
	width: 0;
}

.plyr__menu__container [role="menu"] {
	padding: calc(var(--plyr-control-spacing, 10px)*.7);
}

.plyr__menu__container [role="menuitem"], .plyr__menu__container [role="menuitemradio"] {
	margin-top: 2px;
}

.plyr__menu__container [role="menuitem"]:first-child, .plyr__menu__container [role="menuitemradio"]:first-child {
	margin-top: 0;
}

.plyr__menu__container .plyr__control {
	align-items: center;
	color: var(--plyr-menu-color,#4a5464);
	display: flex;
	font-size: var(--plyr-font-size-menu,var(--plyr-font-size-small,13px));
	padding: calc(var(--plyr-control-spacing, 10px)*.7/1.5) calc(var(--plyr-control-spacing, 10px)*.7*1.5);
	width: 100%;
}

.plyr__menu__container .plyr__control>span {
	align-items: inherit;
	display: flex;
	width: 100%;
}

.plyr__menu__container .plyr__control:after {
	border: var(--plyr-menu-item-arrow-size,4px) solid transparent;
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.plyr__menu__container .plyr__control--forward {
	padding-right: calc(var(--plyr-control-spacing, 10px)*.7*4);
}

.plyr__menu__container .plyr__control--forward:after {
	border-left-color: var(--plyr-menu-arrow-color,#728197);
	right: calc(var(--plyr-control-spacing, 10px)*.7*1.5 - var(--plyr-menu-item-arrow-size, 4px));
}

.plyr__menu__container .plyr__control--forward.plyr__tab-focus:after, .plyr__menu__container .plyr__control--forward:hover:after {
	border-left-color: currentColor;
}

.plyr__menu__container .plyr__control--back {
	font-weight: var(--plyr-font-weight-regular,400);
	margin:   calc(var(--plyr-control-spacing, 10px)*.7/2);
	padding-left: calc(var(--plyr-control-spacing, 10px)*.7*4);
	position: relative;
	width: calc(100% - var(--plyr-control-spacing, 10px)*.7*2);
}

.plyr__menu__container .plyr__control--back:after {
	border-right-color: var(--plyr-menu-arrow-color,#728197);
	left: calc(var(--plyr-control-spacing, 10px)*.7*1.5 - var(--plyr-menu-item-arrow-size, 4px));
}

.plyr__menu__container .plyr__control--back:before {
	background: var(--plyr-menu-back-border-color,#dcdfe5);
	box-shadow: 0 1px 0 var(--plyr-menu-back-border-shadow-color,#fff);
	content: "";
	height: 1px;
	left: 0;
	margin-top: calc(var(--plyr-control-spacing, 10px)*.7/2);
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 100%;
}

.plyr__menu__container .plyr__control--back.plyr__tab-focus:after, .plyr__menu__container .plyr__control--back:hover:after {
	border-right-color: currentColor;
}

.plyr__menu__container .plyr__control[role="menuitemradio"] {
	padding-left: calc(var(--plyr-control-spacing, 10px)*.7);
}

.plyr__menu__container .plyr__control[role="menuitemradio"]:after, .plyr__menu__container .plyr__control[role="menuitemradio"]:before {
	border-radius: 100%;
}

.plyr__menu__container .plyr__control[role="menuitemradio"]:before {
	background: rgba(0, 0, 0, 0.1);
	content: "";
	display: block;
	flex-shrink: 0;
	height: 16px;
	margin-right: var(--plyr-control-spacing,10px);
	transition: all 0.3s ease;
	width: 16px;
}

.plyr__menu__container .plyr__control[role="menuitemradio"]:after {
	background: rgba(255, 255, 255, 1);
	border: 0;
	height: 6px;
	left: 12px;
	opacity: 0;
	top: 50%;
	transform: translateY(-50%) scale(0);
	transition: transform 0.3s ease, opacity 0.3s ease;
	width: 6px;
}

.plyr__menu__container .plyr__control[role="menuitemradio"][aria-checked="true"]:before {
	background: var(--plyr-control-toggle-checked-background,var(--plyr-color-main,var(--plyr-color-main,#00b3ff)));
}

.plyr__menu__container .plyr__control[role="menuitemradio"][aria-checked="true"]:after {
	opacity: 1;
	transform: translateY(-50%) scale(1);
}

.plyr__menu__container .plyr__control[role="menuitemradio"].plyr__tab-focus:before, .plyr__menu__container .plyr__control[role="menuitemradio"]:hover:before {
}